"*":
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "save-session":
    dataSaveFolder: "/home/luiz/.atom/packages/save-session/projects"
    project: "/home/luiz/.atom"
    windowX: 0
    windowY: 24
    windowWidth: 1920
    windowHeight: 1056
